body {
    font-family: 'Poppins', sans-serif;
    margin:0;
}
section {
	padding-bottom: 150px;
	width: 100%;
	float: left;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
.top-banner h2 span {
	color: #ec4c7a;
	font-size: 45px;
	font-weight: 700;
}
.top-banner {
	background-image: url("image/header-bg.png");
	background-repeat: no-repeat;
	background-size: 1351px auto;
}
.top-banner-left-padding {
	padding-top: 75px;
	padding-left: 132px;
}
.half-width {
	width: 35%;
	float: left;
	margin-left: 7%;
	padding-left: 4%;
	padding-top: 100px;
}

.half-width img{
	width: 100%;
}
.one-third {
	width: 30%;
	float: left;
	padding-left: 30px;
}

.one-third img {
	width: 100%;
	
}
.anchor-button {
	text-decoration: none;
	background: linear-gradient(45deg, #ec4f8f, #ed4b6e); 
	padding: 10px 40px;
	border-radius: 5px;
	color: white;
	font-weight: 700;
}
.biography-area {
	background-image: url("image/biography-bg.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 1890px auto;
}
.biography-area-left-padding {
	padding-top: 90px;
}

.latest-work h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 35px;
}
.latest-work {
	background-image: url("image/latest-work-bg.png");
	background-repeat: no-repeat;
	background-size: 1370px auto;
	height: 480px;
}
.latest-work-padding {
	padding: 40px 70px;
}
.client-section {
	background-image: url("image/footer-bg.png");
	background-repeat: no-repeat;
	background-position: left;
	text-align: center;
	background-size: 1250px auto;
}
.client-section h2 {
	font-size: 35px;
	margin-top: 70px;
	margin-bottom: 70px;
}
.client-name {
	font-weight: bold;
	margin-bottom: 35px;
}
.client-section span {
	font-size: 14px;
	font-weight: 100;
	color: #aaa;
}
.messege-box {
	background:linear-gradient(45deg, #ec4f8f, #ed4b6e); 
	color: #fff;
	padding: 20px 45px;
	width: 440px;
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 60px;
}
.messege-box p {
	color: #fff;
}
footer p {
	text-align: center;
}
p {
	color: dimgray;
}

.experience-area {
	background-image: url("image/exp-bg.png"), url("image/header-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}
.experience-area div {
	box-shadow: 2px 4px 15px gray;
	height: 80%;
}
.experience-area h1
{
	text-align: center;
	margin-top: 70px;
	font-weight: lighter;
	font-size: 50px;
}
#full-stack {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, lightsalmon, tomato);
	border-image-slice: 1;
}
#baby-web {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice: 1;
}
.one-third-x {
	width: 27%;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 3%;
	margin-top: 50px;
}